/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  margin: auto 50px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  background-color:skyblue;
  padding-left: 10px;
}
h3 {
font-size: 18px;
margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}
  

p {
  margin-bottom: 5px;
  text-align: justify;
}

li {
text-align: justify;
}

.contact {
  margin-bottom: 20px;
  text-align: center;
}

.summary {
  margin-bottom: 20px;
}

.education {
  margin-bottom: 20px;
}

.skills {
  margin-bottom: 20px;
}

.projects {
  margin-bottom: 20px;
}

.training {
  margin-bottom: 20px;
}
.centerp{
text-align: center;
font-weight: bold;
}
.publications {
  margin-bottom: 20px;
}
